<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta property="og:url" content="@ViewBag.url" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.title" />
    <meta property="og:description" content="@ViewBag.content" />
    <meta property="og:image" content="@ViewBag.image" />
    @Styles.Render("~/Css/Layout")

</head>
<body>
    @{ Html.RenderPartial("_ModalRegistro"); }
    @{ Html.RenderPartial("_ModalLogin"); }
    @{ Html.RenderPartial("_Header"); }
    <section class="container-fluid">
        @RenderBody()
    </section>

    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/Js/Layout");
    @RenderSection("scripts", required: false)
</body>
</html>
